# data io with excel in pandas

##### > pandas can read & write excel sheet files as pandas datatframe

In [42]:
# NB - pandas can only read & write raw datas in excel as pandas df, it cant read advance excel sheet with formulas, graph, macros etc in excel sheet.

# ---> pandas treat excel workbook as dictionary with key as sheet name & value representing sheet as dataframes

# ---> *** requires additional lirary to work with excel in pandas ---> * openpyxl lib (newer excel) & xlrd lib (older excel file) * --- make sure to have this intall


import pandas as pd

In [10]:
df = pd.read_excel('my_excel_file.xlsx', sheet_name= 'First_Sheet') #---> reads in first excel sheet from the excel file as pandas datadframe

In [11]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
#sheets avaialbe in excel workbook file

wb = pd.ExcelFile('my_excel_file.xlsx')

In [12]:
wb.sheet_names  # ---> returns name of the shhetts availble in excel file 

#---> we can also loop inside this list of sheets & let pandas read the reqwuired sheet inside the loop

['First_Sheet']

In [27]:
# recommend way --> grab all the sheets in excel file as dict

excel_sheet_dict = pd.read_excel('my_excel_file.xlsx', sheet_name=None)  #---> grabs all the sheets in dict with names & values

#---> dict with keys as names of the sheets avilable & values as the dataframes of the sheets

In [28]:
type(excel_sheet_dict)

dict

In [29]:
excel_sheet_dict.keys() # ---> returns names of sheets availble

dict_keys(['First_Sheet'])

In [30]:
excel_sheet_dict['First_Sheet']  # ---> returns the sheet with key Fisrt_Sheet nane

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [31]:
excel_sheet_dict #---> returns the dict with keys & values

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [43]:
# writing to an excel file  ---> data exploration in pandas & saving back to excel sheets

df = pd.read_excel('my_excel_file.xlsx')

In [44]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [45]:
df.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [48]:
df.columns = ['A', 'B', 'C', 'D']

In [50]:
df

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [51]:
df.to_excel('new_excel_file.xlsx', sheet_name='first_new_sheet', index=False)  # ----> saving dataframe as new sheet in new excel.xlsx file

In [52]:
pd.read_excel('new_excel_file.xlsx', sheet_name='first_new_sheet')  # ---> reading our new excel file we created :)

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [53]:
# more for excel with pandas ---> check docs for excel api for python (pandas) & other python lib for excel

#---> thats it for red & write (data io) with excel in pandas